/* 
===========
variables 
===========
*/

:root {
  --clr-white: #fff;
  --clr-red: red;
  --clr-black: black;
}

/*
===========
Global Settings 
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: cornsilk;
  height: 100vh;
}

/* 
==========
1st Row 
==========
*/

.cell-1 {
  background: var(--clr-white);
  grid-area: a;
}
.cell-2 {
  background: var(--clr-black);
  grid-area: b;
}
.cell-3 {
  background: var(--clr-white);
  grid-area: c;
}

/* 
==========
2nd Row 
==========
*/

.cell-4 {
  background: var(--clr-white);
  grid-area: a1;
}
.cell-5 {
  background: var(--clr-black);
  grid-area: b1;
}
.cell-6 {
  background: var(--clr-white);
  grid-area: a1-1;
}
.cell-7 {
  background: var(--clr-black);
  grid-area: b1-1;
}
.cell-8 {
  background: var(--clr-red);
  grid-area: c1;
}
.cell-9 {
  background: var(--clr-black);
  grid-area: b1-2;
}
.cell-10 {
  background: var(--clr-white);
  grid-area: a1-2;
}

/* 
==========
3rd Row 
==========
*/

.cell-11 {
  background: var(--clr-white);
  grid-area: a2;
}
.cell-12 {
  background: var(--clr-black);
  grid-area: b2;
}
.cell-13 {
  background: var(--clr-red);
  grid-area: c2;
}
.cell-14 {
  background: var(--clr-black);
  grid-area: b2-1;
}
.cell-15 {
  background: var(--clr-red);
  grid-area: c2-1;
}
.cell-16 {
  background: var(--clr-black);
  grid-area: b2-3;
}
.cell-17 {
  background: var(--clr-white);
  grid-area: a2-1;
}

/* 
==========
4th Row 
==========
*/

.cell-18 {
  background: var(--clr-white);
  grid-area: a3;
}
.cell-19 {
  background: var(--clr-black);
  grid-area: b3;
}
.cell-20 {
  background: var(--clr-red);
  grid-area: c3;
}
.cell-21 {
  background: var(--clr-black);
  grid-area: b3-1;
}
.cell-22 {
  background: var(--clr-red);
  grid-area: c3-1;
}
.cell-23 {
  background: var(--clr-black);
  grid-area: b3-2;
}
.cell-24 {
  background: var(--clr-red);
  grid-area: c3-2;
}
.cell-25 {
  background: var(--clr-black);
  grid-area: b3-3;
}
.cell-26 {
  background: var(--clr-white);
  grid-area: a3-1;
}

/* 
==========
5th Row 
==========
*/

.cell-27 {
  background: var(--clr-white);
  grid-area: a4;
}
.cell-28 {
  background: var(--clr-black);
  grid-area: b4;
}
.cell-29 {
  background: var(--clr-red);
  grid-area: c4;
}
.cell-30 {
  background: var(--clr-black);
  grid-area: b4-1;
}
.cell-31 {
  background: var(--clr-red);
  grid-area: c4-1;
}
.cell-32 {
  background: var(--clr-black);
  grid-area: b4-2;
}
.cell-33 {
  background: var(--clr-red);
  grid-area: c4-2;
}
.cell-34 {
  background: var(--clr-black);
  grid-area: b4-3;
}
.cell-35 {
  background: var(--clr-red);
  grid-area: c4-3;
}
.cell-36 {
  background: var(--clr-black);
  grid-area: b4-4;
}
.cell-37 {
  background: var(--clr-white);
  grid-area: a4-1;
}

/* 
==========
6th Row 
==========
*/
.cell-38 {
  background: var(--clr-white);
  grid-area: a5;
}

.cell-39 {
  background: var(--clr-black);
  grid-area: b5;
}

.cell-40 {
  background: var(--clr-red);
  grid-area: c5;
}
.cell-41 {
  background: var(--clr-black);
  grid-area: b5-1;
}
.cell-42 {
  background: var(--clr-red);
  grid-area: c5-1;
}
.cell-43 {
  background: var(--clr-black);
  grid-area: b5-2;
}
.cell-44 {
  background: var(--clr-red);
  grid-area: c5-2;
}
.cell-45 {
  background: var(--clr-black);
  grid-area: b5-3;
}
.cell-46 {
  background: var(--clr-red);
  grid-area: c5-3;
}
.cell-47 {
  background: var(--clr-black);
  grid-area: b5-4;
}
.cell-48 {
  background: var(--clr-white);
  grid-area: a5-1;
}

/* 
==========
7th Row 
==========
*/
.cell-49 {
  background: var(--clr-white);
  grid-area: a6;
}
.cell-50 {
  background: var(--clr-black);
  grid-area: b6;
}
.cell-51 {
  background: var(--clr-red);
  grid-area: c6;
}
.cell-52 {
  background: var(--clr-black);
  grid-area: b6-1;
}
.cell-53 {
  background: var(--clr-red);
  grid-area: c6-1;
}
.cell-54 {
  background: var(--clr-black);
  grid-area: b6-2;
}
.cell-55 {
  background: var(--clr-red);
  grid-area: c6-2;
}
.cell-56 {
  background: var(--clr-black);
  grid-area: b6-3;
}
.cell-57 {
  background: var(--clr-red);
  grid-area: c6-3;
}
.cell-58 {
  background: var(--clr-black);
  grid-area: b6-4;
}
.cell-59 {
  background: var(--clr-red);
  grid-area: c6-4;
}
.cell-60 {
  background: var(--clr-black);
  grid-area: b6-5;
}
.cell-61 {
  background: var(--clr-white);
  grid-area: a6-1;
}

/* 
==========
8th Row 
==========
*/

.cell-62 {
  background: var(--clr-white);
  grid-area: a7;
}
.cell-63 {
  background: var(--clr-black);
  grid-area: b7;
}
.cell-64 {
  background: var(--clr-red);
  grid-area: c7;
}
.cell-65 {
  background: var(--clr-black);
  grid-area: b7-1;
}
.cell-66 {
  background: var(--clr-red);
  grid-area: c7-1;
}
.cell-67 {
  background: var(--clr-black);
  grid-area: b7-2;
}
.cell-68 {
  background: var(--clr-red);
  grid-area: c7-2;
}
.cell-69 {
  background: var(--clr-black);
  grid-area: b7-3;
}
.cell-70 {
  background: var(--clr-red);
  grid-area: c7-3;
}
.cell-71 {
  background: var(--clr-black);
  grid-area: b7-4;
}
.cell-72 {
  background: var(--clr-red);
  grid-area: c7-4;
}
.cell-73 {
  background: var(--clr-black);
  grid-area: b7-5;
}
.cell-74 {
  background: var(--clr-white);
  grid-area: a7-1;
}

/* 
==========
9th Row 
==========
*/
