/* 
===========
variables 
===========
*/

:root {
  --clr-white: #fff;
  --clr-red: red;
  --clr-black: black;
}

/*
===========
Global Settings 
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: cornsilk;
  height: 100vh;
}

/* 1st row*/
.cell-1 {
  background: var(--clr-white);
  grid-area: a;
}
.cell-2 {
  background: var(--clr-black);
  grid-area: b;
}
.cell-3 {
  background: var(--clr-white);
  grid-area: c;
}

/* 2nd row */
.cell-4 {
  background: var(--clr-white);
  grid-area: a1;
}
.cell-5 {
  background: var(--clr-black);
  grid-area: b1;
}
.cell-6 {
  background: var(--clr-white);
  grid-area: a1-1;
}
.cell-7 {
  background: var(--clr-black);
  grid-area: b1-1;
}
.cell-8 {
  background: var(--clr-red);
  grid-area: c1;
}
.cell-9 {
  background: var(--clr-black);
  grid-area: b1-2;
}
.cell-10 {
  background: var(--clr-white);
  grid-area: a1-2;
}

/* 3rd row */

.cell-11 {
  background: var(--clr-white);
  grid-area: a2;
}
.cell-12 {
  background: var(--clr-black);
  grid-area: b2;
}
.cell-13 {
  background: var(--clr-red);
  grid-area: c2;
}
.cell-14 {
  background: var(--clr-black);
  grid-area: b2-1;
}
.cell-15 {
  background: var(--clr-red);
  grid-area: c2-1;
}
.cell-16 {
  background: var(--clr-black);
  grid-area: b2-3;
}
.cell-17 {
  background: var(--clr-white);
  grid-area: a2-1;
}

/* 4th row */
.cell-18 {
  background: var(--clr-white);
  grid-area: a3;
}
.cell-19 {
  background: var(--clr-black);
  grid-area: b3;
}
.cell-20 {
  background: var(--clr-red);
  grid-area: c3;
}
.cell-21 {
  background: var(--clr-black);
  grid-area: b3-1;
}
.cell-22 {
  background: var(--clr-red);
  grid-area: c3-1;
}
.cell-23 {
  background: var(--clr-black);
  grid-area: b3-2;
}
.cell-24 {
  background: var(--clr-red);
  grid-area: c3-2;
}
.cell-25 {
  background: var(--clr-black);
  grid-area: b3-3;
}
.cell-26 {
  background: var(--clr-white);
  grid-area: a3-1;
}

/* 5th row */
